<footer id="" class="mt-5 py-2 text-white "style="background:black;">
    <div class="row px-5">
        <div class="col-sm pt-4">
            <a class="ml-md-5 navbar-brand" href="#">
                    <img src="{{footer.appLogo}}" width="120" height="30" alt="">
            </a>
        </div>
        <div class="col-sm">
            <div class="row py-1 text-white">
               <span class="text-warning px-2">----</span> {{footer.companyName}}
            </div>
            <div class="row py-1 text-white">
                <span class="text-warning px-2">----</span> {{footer.address}}
            </div>
            <div class="row py-1 text-white">
                <span class="text-warning px-2">----</span>{{footer.phone}}
            </div>
            <div class="row py-1 text-white">
                <span class="text-warning px-2">----</span>{{footer.fax}}
            </div>
        </div>
        <div class="col-sm py-5 text-white">
            <div class="row">
                <div class="col"*ngFor="let link of footer.socialLinks" > <i class="{{link.class}}"></i> <span class="text-warning font-weight-bold pl-1">  |</span></div>
               
            </div>
        </div>
    </div>
</footer>