
<div class="container pt-3 px-5">
    <div class="row">
        <a class="col-md-3 px-1 py-3 text-dark" [routerLink]="card.link" *ngFor="let card of footLong">
            <mdb-card class="boxshadow mx-3 bg-gray">
                <img [src]="card.img" width="100%" height="100px"alt="Card image cap" class="pt-1 px-4">
                <mdb-card-body>
                  <h3 class="d-flex justify-content-center py-0 font-weight-bold" style="font-family: cursive">{{card.title}}</h3>
                  <p><span class="text-warning d-flex justify-content-center pb-2"> _______</span></p>
                  <p class="d-flex justify-content-center pb-2" style="font-family: cursive">{{card.description}}</p>
                  
                </mdb-card-body>
              </mdb-card>
        </a>
    </div>

</div>
