<div class="" style="padding:50px 15%;width:98%">
    <div class="row ">
        <div class="col-sm-6 px-2 py-1 animatediv">
            <a class="w-100 animate" routerLink="footlong">
                <img src="assets/Images/TodaysMenu1.jpg" alt="">
            </a>
                <div class=""style="position:absolute; top :30px;left:30px">
                    <h3 class="text-white px-0"><span class="font-weight-bold" style="font-size:40px">FOOT LONG</span></h3>
                    
                </div>
                <div style="position:absolute; top :70px;left:35px">
                    <p class="text-white">Offer End: 17: 25: 12</p>
                </div>
        
            
            
        </div>
        <div class="col-sm-3 px-2 py-1 animatediv">
            <a class="w-100 animate" routerLink="sixinch">
                <img src="assets/Images/TodaysMenu2.jpg" alt="">
                <div class=""style="position:absolute; top :30px;left:30px">
                    <h3 class="text-white px-0"><span class="font-weight-bold" style="font-size:40px">6 INCH</span></h3>
                    
                </div>
                <div style="position:absolute; top :70px;left:35px">
                    <p class="text-white">Offer End: 17: 25: 12</p>
                </div>
            </a>
            
        </div>
        <div class="col-sm-3 px-2 py-1 animatediv">
            <a class="w-100 animate" routerLink="salad">
                <img src="assets/Images/TodaysMenu4.jpg" alt="">
            </a>
            <div class=""style="position:absolute; top :30px;left:30px">
                <h3 class="text-white px-0"><span class="font-weight-bold" style="font-size:40px">SALAD</span></h3>
            </div>
            <div style="position:absolute; top :70px;left:35px">
                <p class="text-white">Offer End: 17: 25: 12</p>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6 px-2 py-1  animatediv">
            <a class="w-100 animate" routerLink="platter">
                <img src="assets/Images/TodaysMenu5.jpg" alt="">
            </a>
            <div class=""style="position:absolute; top :30px;left:30px">
                <h3 class="text-white px-0"><span class="font-weight-bold" style="font-size:40px">PLATTER</span></h3>
            </div>
            <div style="position:absolute; top :70px;left:35px">
                <p class="text-white">Offer End: 17: 25: 12</p>
            </div>
        </div>
        <div class="col-sm-3 px-2 py-1  animatediv">
            <a class="w-100 animate" routerLink="deals">
                <img src="assets/Images/TodaysMenu1.jpg" alt="">
            </a>
            <div class=""style="position:absolute; top :30px;left:30px">
                <h3 class="text-white px-0"><span class="font-weight-bold" style="font-size:40px">DEALS</span></h3>
            </div>
            <div style="position:absolute; top :70px;left:35px">
                <p class="text-white">Offer End: 17: 25: 12</p>
            </div>
        </div>
        <div class="col-sm-3 px-2 py-1 animatediv">
            <a class="w-100 animate" routerLink="combo">
                <img src="assets/Images/TodaysMenu3.jpg" alt="">
            </a>
            <div class=""style="position:absolute; top :30px;left:30px">
                <h3 class="text-white px-0"><span class="font-weight-bold" style="font-size:40px">COMBO</span></h3>  
            </div>
            <div style="position:absolute; top :70px;left:35px">
                <p class="text-white">Offer End: 17: 25: 12</p>
            </div>
        </div>
    </div>
</div>
