<div class="container ">
    <div class="row pt-3 d-flex justify-content-end pr-5">
        <div class="input-group py-1"style="border:1px solid #e0e0e0;background-color:#e0e0e0;width:25%; border-radius:40px;">
            <input type="text" class="form-control ml-2" style="border:none;background-color:#e0e0e0" placeholder="Search...">
            <div class="input-group-append">
              <button class="btn btn-transparent" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
    </div>
</div>
